.dashboardContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}




.dashboardNav {
    width: 20%;
    height: 100vh;
    background-color: #4C4C6D;
    flex-direction: column;
    justify-content: center;
}

.dashboardNav {
    display: flex;
    width: 20%;
    height: 100vh;
    background-color: #4C4C6D;
}


.dashboardNav h1 {
    margin-bottom: 10rem;
    color: #FFE194;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.dashboardNav-items {
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dashboardNav-items p {
    margin: 1.5rem 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    text-align: center;

}

.dashboardNav-items button {
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dashboardHeaderSection {
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
}

.dashboardHeader {
    display: flex;
    background-color: #1B9C85;
    height: 10vh;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dashboardHeader h1 {
    color: #E8F6EF;
    text-align: center;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    /* 52.5% */
    text-transform: capitalize;
}



.dashboardHeader p {
    color: #E8F6EF;
    font-family: Poppins;
    font-size: 22px;
    align-items: flex-end;
    text-align: right;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 95.455% */
}

.dashboardHeader-dateUser__user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
}

.dashboardHeader-dateUser__user p{
    
    padding-right: 3rem;
}

.dashboardSection {
    display: flex;
    width: 80%;
    height: vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}